{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link rel="icon" type="image/png" href="{{ url.textonly }}/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="{{ url.textonly }}/styles/main.css" />
  <!--[if lt IE 9]>
  <script src="{{ url.textonly }}/javascript/nwmatcher.js"></script>
  <script src="{{ url.textonly }}/javascript/selectivizr.js"></script>
  <script src="{{ url.textonly }}/javascript/respond.min.js"></script>
  <![endif]-->
  <script src="{{ url.textonly }}/javascript/prefixfree.min.js"></script>
  <script src="{{ url.textonly }}/javascript/modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ url.textonly }}/javascript/nav.js"></script>
  <script src="{{ url.textonly }}/javascript/svg-fallback.js"></script>
</head>

<body>
		<header>
      <label role="button" class="show-menu"></label>
      <h1 class="subtitle right"><a href="{{ url('impressum') }}">Impressum</a></h1>
      <a href="{{ siteUrl }}" class="logo-link">
        <h1 class="subtitle left">{{ subtitle.textonly }}</h1>
        <img class="logo" alt="shp holz gmbh" src="{{ url.textonly }}/images/shp_logo.svg"/>
      </a>
			<nav role="navigation">
				<ul>
          <li class="home"><a href="{{ siteUrl }}" >Home</a></li>
          <li><a href="{{ url('unternehmen') }}" {% if craft.request.firstSegment == 'unternehmen' %}class="selected"{% endif %}>Unternehmen</a></li>
          <li><a href="{{ url('dienstleistungen') }}" {% if craft.request.firstSegment == 'dienstleistungen' %}class="selected"{% endif %}>Dienstleistungen</a></li>
          <li><a href="{{ url('produkte') }}" {% if craft.request.firstSegment == 'produkte' %}class="selected"{% endif %}>Produkte</a></li>
          <li><a href="{{ url('kontakt') }}" {% if craft.request.firstSegment == 'kontakt' %}class="selected"{% endif %}>Kontakt</a></li>
				</ul>
			</nav>
      <div class="gradient"></div>
		</header>

    <section class="main-section">
      <article>
      {% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
      </article>
    </section>

		<footer class="vcard">
      <span class= "org">{{ footer.org }}</span>
      <span class= "fn">{{ footer.fn }}</span>
      <a class= "url" href="{{ siteUrl }}">Website</a>
      <span class="tel">{{ footer.tel }}</span>
      <hr class="footer-break">
      <span class="adr">
        <span class="street-address">{{ footer.streetaddress }}</span>
        <span class="locality">{{ footer.locality }}</span>
        <span class="postal-code">{{ footer.postalcode }}</span>
        <span class="country-name">{{ footer.countryname }}</span>
      </span>
      <span class="uid">{{ footer.uidinternational }}</span>
      <span class="italic"><a href="{{ url('impressum') }}">Impressum</a></span>
    </footer>
	</div>
</body>
</html>
